<div class="label label-inverse" id="nav-area">
  Tempo : {{tempo}}
</div>

<canvas id="needle"></canvas>

<div class="label label-inverse" id="controller-area">
  
  <div id="tempo-label">Tempo (10 to 200)</div>

  <div id="tempo-controller">
    <div id="tempo-seek-bar" style="display:inline-block;  width:100%;"></div>
  </div>

  <div id="start-stop-buttons" class="btn-group">
    <button ng-click="start()" class="btn" style="width:50%;">start</button>
    <button ng-click="stop()" class="btn" style="width:50%;">stop</button>
  </div>

</div>

